<formula-datasource formulas="formulas" categories="categories"></formula-datasource>
<country-datasource countries="countries"></country-datasource>
<form
  id="registrationForm"
	name="registrationForm"
	ng-submit="ctrl.edit(ctrl.registration, ctrl.file, ctrl.fileDeleted, registrationForm)"
	ng-class="{'registration-form--edit': ctrl.registration.id, 'registration-form--add': !ctrl.registration.id}"
  novalidate
>

	<fieldset>
		<legend>Général</legend>
		<div class="row">
			<div class="col-sm-6 hidden-add">
				<div class="form-group" show-errors>
			    <label for="registerFormSeason">Saison</label>
					<select class="form-control" id="registerFormSeason" name="registerFormSeason" ng-model="ctrl.registration.season">
			      <option></option>
						<option ng-repeat="season in ctrl.seasons" value="{{::season}}">{{::season}}</option>
			    </select>
				</div>
			</div>
			<div class="col-sm-6 hidden-add">
				<div class="form-group" show-errors>
			    <label for="registerFormConfirmed">Inscription confirmée</label>
					<select class="form-control" id="registerFormConfirmed" name="registerFormConfirmed" ng-model="ctrl.registration.confirmed">
			      <option value="">non</option>
				    <option value="1">oui</option>
			    </select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group" show-errors>
			    <label for="registerFormCategory">Catégorie d'inscription</label>
					<select class="form-control" id="registerFormCategory" name="registerFormCategory" ng-model="ctrl.registration.category" ng-change="ctrl.registration.formula = ''" required>
			      <option></option>
			      <option value="young">Jeune</option>
			      <option value="adult">Adulte</option>
			    </select>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group" show-errors>
			    <label for="registerFormFormula">Formule</label>
					<select class="form-control" id="registerFormFormula" name="registerFormFormula" ng-model="ctrl.registration.formula" required>
			      <option></option>
			      <option ng-repeat="formula in formulas" value="{{::formula.id}}" ng-show="ctrl.registration.category==formula.category">
			        {{::formula.id}}: {{::formula.label}}
			      </option>
			    </select>
				</div>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>Informations personnelles</legend>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group" show-errors>
			    <label for="registerFormFirstname">Prénom</label>
					<input type="text" class="form-control" id="registerFormFirstname" name="registerFormFirstname" ng-model="ctrl.registration.firstname" required>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group" show-errors>
			    <label for="registerFormLastname">Nom</label>
					<input type="text" class="form-control" id="registerFormLastname" name="registerFormLastname" ng-model="ctrl.registration.lastname" required>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-6">
				<div class="form-group" show-errors>
					<label for="registerFormGender">Genre</label>
					<select class="form-control" id="registerFormGender" name="registerFormGender" ng-model="ctrl.registration.gender" required>
						<option></option>
						<option value="man">Homme</option>
						<option value="woman">Femme</option>
					</select>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group" show-errors>
			    <label for="registerFormCountry">Nationalité</label>
					<select class="form-control" id="registerFormCountry" name="registerFormCountry" ng-model="ctrl.registration.country">
						<option></option>
						<option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group" show-errors>
			    <label for="registerFormEmail">Email</label>
					<input type="text" class="form-control" id="registerFormEmail" name="registerFormEmail" ng-model="ctrl.registration.email" required>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group" show-errors>
			    <label for="registerFormPhone">Téléphone</label>
					<input type="text" class="form-control" id="registerFormPhone" name="registerFormPhone" ng-model="ctrl.registration.phone">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-8">
				    <label for="registerFormFirstname">Date de naissance</label>
						<div class="row">
				  		<div class="col-xs-4">
								<div class="form-group" show-errors>
									<select class="form-control" id="registerFormBirthday" name="registerFormBirthday" ng-model="ctrl.registration.birthday">
							      <option></option>
							      <option ng-repeat="day in ctrl.days" value="{{::day}}">{{::day}}</option>
							    </select>
								</div>
							</div>
				  		<div class="col-xs-4">
								<div class="form-group" show-errors>
									<select class="form-control" id="registerFormBirthmonth" name="registerFormBirthmonth" ng-model="ctrl.registration.birthmonth">
							      <option></option>
							      <option ng-repeat="month in ctrl.months" value="{{::month}}">{{::month}}</option>
							    </select>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="form-group" show-errors>
									<select class="form-control" id="registerFormBirthyear" name="registerFormBirthyear" ng-model="ctrl.registration.birthyear">
							      <option></option>
							      <option ng-repeat="year in ctrl.years" value="{{::year}}">{{::year}}</option>
							    </select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<label for="registerFormFirstname">Catégorie d'âge</label>
						<div class="form-control-static">{{ctrl.category}}</div>
					</div>
				</div>
			</div>
			<!--div class="col-sm-6">
				<div class="media">
				  <div class="media-body">
						<div class="form-group">
					    <label for="registerFormFile">Image</label>
							<input
							  type="file"
								class="form-control"
								id="registerFormFile"
								ngf-select
								ng-model="ctrl.file"
								name="registerFormFile"
	              accept="image/*"
								ngf-max-size="10MB"
	              ngf-model-invalid="ctrl.errorFile"
							/>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-7">
									<div class="alert alert-danger" role="alert" ng-if="ctrl.errorFile" ng-switch="ctrl.errorFile.$error">
										<span ng-switch-when="maxSize">Fichier trop volumineux : {{ctrl.errorFile.size / 1000000 | number:1}}Mo (max 10Mo)</span>
									</div>
									<div class="alert alert-info" role="alert" ng-if="ctrl.fileDeleted">
										Validez le formulaire pour confirmer la suppression.
									</div>
								</div>
								<div class="col-sm-5">
									<button class="btn btn-danger pull-right" ng-click="ctrl.file = null" ng-if="ctrl.file">Supprimer</button>
									<button class="btn btn-danger pull-right" ng-click="ctrl.fileDeleted = true" ng-if="!ctrl.file && !ctrl.fileDeleted && ctrl.registration.image">Supprimer</button>
								</div>
							</div>
						</div>
				  </div>
				  <div class="media-right">
				    <img class="media-object" alt="Image de vous" ng-show="myForm.file.$valid" ngf-thumbnail="ctrl.file" style="height: 133px;"/>
				    <img class="media-object" alt="Image de vous" ng-if="!ctrl.file && !ctrl.fileDeleted && ctrl.registration.image" ng-src="/file/get/?name={{ctrl.registration.image}}" style="height: 133px;"/>
				  </div>
				</div>
			</div-->
      <div class="col-sm-6">
				<div class="form-group" show-errors>
			    <label for="registerFormFirstname">N° de licence</label>
					<input type="text" class="form-control" id="registerFormLicence" name="registerFormLicence" ng-model="ctrl.registration.licence">
				</div>
      </div>
		</div>
	</fieldset>

	<fieldset>
		<legend>Adresse</legend>
		<div class="form-group" show-errors>
			<label for="registerFormAddressAddress">Rue et numéro</label>
			<input type="text" class="form-control" id="registerFormAddressAddress" name="registerFormAddressAddress" ng-model="ctrl.registration.address.address">
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group" show-errors>
			    <label for="registerFormAddressPostcode">Code postal</label>
					<input type="text" class="form-control" id="registerFormAddressPostcode" name="registerFormAddressPostcode" ng-model="ctrl.registration.address.postcode">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group" show-errors>
			    <label for="registerFormAddressCity">Ville</label>
					<input type="text" class="form-control" id="registerFormAddressCity" name="registerFormAddressCity" ng-model="ctrl.registration.address.city">
				</div>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>Contacts</legend>
		<div class="form-group">
			<button type="button" class="btn btn-success" ng-click="ctrl.addContact()">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter un contact
			</button>
		</div>

		<div class="thumbnail registration-contact" ng-repeat="(key, contact) in ctrl.registration.contacts">
		  <button type="button" class="btn btn-danger registration-contact__remove" ng-click="ctrl.removeContact(key)">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Supprimer ce contact
			</button>

		  <div class="row">
		    <div class="col-xs-6">
		      <div class="form-group" show-errors>
		        <label for="registerFormContatcts{{key}}Label">Label</label>
		        <input type="text" class="form-control" id="registerFormContatcts{{key}}Label" name="registerFormContatcts{{key}}Label" ng-model="contact.label">
		      </div>
		    </div>
		  </div>

		  <div class="row">
		    <div class="col-sm-6">
		      <div class="form-group" show-errors>
		        <label for="registerFormContatcts{{key}}Firstname">Prénom</label>
		        <input type="text" class="form-control" id="registerFormContatcts{{key}}Firstname" name="registerFormContatcts{{key}}Firstname" ng-model="contact.firstname">
		      </div>
		    </div>
		    <div class="col-sm-6">
		      <div class="form-group" show-errors>
		        <label for="registerFormContatcts{{key}}Lastname">Nom</label>
		        <input type="text" class="form-control" id="registerFormContatcts{{key}}Lastname" name="registerFormContatcts{{key}}Lastname" ng-model="contact.lastname">
		      </div>
		    </div>
		  </div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group" show-errors>
				    <label for="registerFormContatcts{{key}}Email">Email</label>
						<input type="text" class="form-control" id="registerFormContatcts{{key}}Email" name="registerFormContatcts{{key}}Email" ng-model="contact.email">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group" show-errors>
				    <label for="registerFormContatcts{{key}}Phone">Téléphone</label>
						<input type="text" class="form-control" id="registerFormContatcts{{key}}Phone" name="registerFormContatcts{{key}}Phone" ng-model="contact.phone">
					</div>
				</div>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>Paiement</legend>
		<div class="row">
  		<div class="col-sm-6">
				<div class="form-group" show-errors>
			    <label for="registerFormFirstname">Prénom (si différent)</label>
					<input type="text" class="form-control" id="registerFormPaymentFirstname" name="registerFormPaymentFirstname" ng-model="ctrl.registration.payment.firstname">
				</div>
			</div>
  		<div class="col-sm-6">
				<div class="form-group" show-errors>
			    <label for="registerFormFirstname">Nom (si différent)</label>
					<input type="text" class="form-control" id="registerFormPaymentLastname" name="registerFormPaymentLastname" ng-model="ctrl.registration.payment.lastname">
				</div>
			</div>
		</div>

		<div class="row">
  		<div class="col-sm-6">
				<div class="form-group" show-errors>
			    <label for="registerFormFirstname">Moyen de paiement</label>
					<select class="form-control" id="registerFormPaymentMethod" name="registerFormPaymentMethod" ng-model="ctrl.registration.payment.method">
						<option></option>
						<option value="check">Chèque</option>
						<option value="cash">Liquide</option>
					</select>
				</div>
			</div>
  		<div class="col-sm-6">
				<div class="form-group" show-errors>
			    <label for="registerFormFirstname">Avantage</label>
					<select class="form-control" id="registerFormPaymentAdvantage" name="registerFormPaymentAdvantage" ng-model="ctrl.registration.payment.advantage">
						<option></option>
						<option value="pass92">Pass 92</option>
						<option value="passSport">Pass'sport Courbevoie Puteaux</option>
						<option value="multipleClub">Inscrit dans d'autres clubs à Courbevoie</option>
						<option value="family">Plusieurs membre d'une même famille au club</option>
						<option value="multiplePayment">Paiements en plusieurs fois</option>
						<option value="partialRegistration">Inscription en cours d'année</option>
						<option value="nicheSwap">Changement de créneau</option>
					</select>
				</div>
			</div>
		</div>
	</fieldset>
	<button type="submit" class="btn btn-primary" ng-disabled="!registrationForm.$valid">{{::ctrl.labels.submit}}</button>
	<a href="#/registrations" class="btn btn-warning" ng-if="ctrl.registration.id">Retour</a>
</form>
