<formula-datasource formulas="formulas" categories="categories"></formula-datasource>
<form id="registration-add" ng-submit="ctrl.add(ctrl.newRegistration)">
	<div class="form-group">
    <label for="registerAddCategory">Catégorie d'inscription</label>
		<select class="form-control" id="registerAddCategory" name="registerAddCategory" ng-model="ctrl.newRegistration.category" ng-change="ctrl.newRegistration.formula = ''" required>
      <option></option>
      <option value="young">Jeune</option>
      <option value="adult">Adulte</option>
    </select>
	</div>
	<div class="form-group">
    <label for="registerAddFormula">Formule</label>
		<select class="form-control" id="registerAddFormula" name="registerAddFormula" ng-model="ctrl.newRegistration.formula" required>
      <option></option>
      <option ng-repeat="formula in formulas" value="{{::formula.id}}" ng-show="ctrl.newRegistration.category==formula.category">
        {{::formula.id}}: {{::formula.label}}
      </option>
    </select>
	</div>
	<div class="form-group">
    <label for="registerAddLastname">Nom</label>
		<input type="text" class="form-control" id="registerAddLastname" name="registerAddLastname" ng-model="ctrl.newRegistration.lastname" required>
	</div>
	<div class="form-group">
    <label for="registerAddFirstname">Prénom</label>
		<input type="text" class="form-control" id="registerAddFirstname" name="registerAddFirstname" ng-model="ctrl.newRegistration.firstname" required>
	</div>
	<button type="submit" class="btn btn-primary">Ajouter l'inscription</button>
</form>
